[Desktop Entry]
Type=Application
Name=OpenKeeb
Comment=Configure Angry Miao keyboards locally
Exec=am-configurator
Icon=am-configurator
Categories=Settings;
Terminal=false
