[Desktop Entry]
Type=Application
Name=OpenKeeb
Comment=Configure compatible AM, Vial, and VIA keyboards locally
Exec=am-configurator
Icon=openkeeb
Categories=Settings;
Terminal=false
